<li style="display: flex">
  <%= gravatar_for user, size: Settings.user.size_gravatar %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("users.index.delete"), user, method: :delete,
                                  data: { confirm: t("users.index.are_you_sure") } %>
  <% end %>
</li>
