<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("layouts.application.about"), about_path %></li>
      <li><%= link_to t("layouts.application.contact"), contact_path %></li>
    </ul>
  </nav>
</footer>
