<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to t("layouts.application.home"), root_path %></li>
    <li><%= link_to t("layouts.application.help"), helf_path %></li>
  </ul>
</nav>
